@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');
//CONFIG

$darkblue : #01161e;
$mediumblue : #1f3540;
$lightblue : #31c4be;
$gray : #A8BEC98A;
$yellow : #f2b237;
$orange: #fb8500;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}