@import './config', './menuStart', './game', './restart';

.page {
    width: 100%;
    height: 100vh;
    background-color: $darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
}